<h1>Help</h1>
<h2>FAQ</h2>
<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>How do I sell something?</td>
      <td>You don't yet, this application is still under heavy development</td>
    </tr>
    <tr>
      <td>How long until it's ready?</td>
      <td>About a week</td>
    </tr>
  </tbody>
</table>
