<h2>Won items</h2>
<table class="won-items">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @winning_bids.each do |bid| %>
      <tr>
        <td><%= link_to bid.item.name, bid.item %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>