<h2>You have won ></h2>
<% unless @won_items.empty? %>
<table class="won-items">
  <%= will_paginate @won_items %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @won_items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p class="rule">No items</p>
<% end %>