<h2>Won items</h2>
<table class="won-items">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @won_items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>