/* STYLESHEET FOR JBAY
   Author: Joshua Newman 2014
*/

/* Colors, mixins etc. */
$charcoalGrey: #444444;
$smokeGrey:    #818181;
$bombay:       #ADADAD;
$lightestGrey: #D6D6D6;

/* JBay logo colours */
$cgRed:        #E13833;
$navyBlue:     #0061D8;
$uclaGold:     #F3B000;
$appleGreen:   #88B700;

@mixin submit-button($color) {
    width: 100px;
    height: 30px;
    background-color: $color;
    border: none;
    color: white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 0;
}

$defaultFont: 'Exo 2';

/* fonts */

@import url(http://fonts.googleapis.com/css?family=Exo+2:200,300,300italic,400,400italic,600);


/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align:baseline;
  font: inherit;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
  display: block;
  float: none;
}

a {
  text-decoration: none;
  color: $lightestGrey;
  &:hover {
    text-decoration: none;
  }
}

a img {
  border: none;
  outline: none;
}

html, body {
  height: 100%;
}

html {
  width: 100%;
}

body {
  font: 100% $defaultFont, sans-serif;
  font-weight: 200;
  width: 100%;
  position: relative;
  margin: 0 auto;
  background: $charcoalGrey;
  line-height: 1.5em;
  z-index: -100;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #1A1A1A;
  text-align: center;
}

span {
  letter-spacing: -0.1em;
}

.c1 { color: $cgRed; }
.c2 { color: $navyBlue; }
.c3 { color: $uclaGold; }
.c4 { color: $appleGreen; }

/* NAV STYLES */

nav#main-nav {
  width: 960px;
  height: 150px;
  margin: 0 auto;
  h1 {
    float: left;
    line-height: 150px;
    font-size: 4em;
    color: $lightestGrey;
    font: $defaultFont;
  }
  ul {
    line-height: 100px;
    float: right;
    li {
      display: inline-block;
    }
  }
}

header {
  height: 150px;
  position: fixed;
  width: 100%;
  z-index: 400;
  background-color: $charcoalGrey;
  font-size: 1.5em;
  
  img {
    height: 40px;
    width: 40px;
    float: right;
  }

  #main-nav {
    position: relative;
    li {
      position: relative;
      line-height: 1em;
      ul {
        margin-top: 0;
        float: left;
        width: 150px;
        left: -9999px;
        background: $smokeGrey;
        line-height: 1em;
        li {
          width: 100%;
        }
      }
      &:hover {
        ul {
          left: 0;
          a {
            text-decoration: none;
          }
          li {
            font-size: 0.8em;
            a {
              &:hover {
                background: $bombay;
              }
            }
          }
        }
      }
    } 
    a {
      display: block;
      padding: 5px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    ul {
      margin-top: 1em;
      float: right;
      position: relative;
      list-style: none;
      li {
        float: none;
      }
      a {
        white-space: nowrap;
      }
    }
  }
}

/*header img {
  padding-left: 10px;
  padding-top: 20px;
  position: relative;
}*/

div.pusher {
  height: 150px;
}

/* FIXED IMAGE HEADER STYLES */

div.fixed-header {
  background: url('home_banner.jpg');
  width: 960px;
  height: 400px;
  position: fixed;
  z-index: 0;
  h1 {
    color: $lightestGrey;
  }
  a {
    color: white;
  }
}

div.item-index {
  height: 400px;
}

/* BODY STYLES */

div.main-body {
  width: 100%;
  min-height: 544px;
  background: $lightestGrey;
  a {
    color: $navyBlue;
  }
}

div.container {
  min-height: 544px;
  width: 960px;
  margin: 0 auto;
  background: white;
  font-size: 1.2em;
  h1 {
    font-size: 3em;
    line-height: 3em;
    display: block;
  }
}


table {
  padding: 5px;
  margin: 0 auto;
  th {
    margin: 0;
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid $charcoalGrey;
  }
  td {
    padding: 5px;
  }
}

p.sell {
  text-align: center;
  margin: 60px 0 0 0;
  color: black;
  
}

strong {
  font-weight: 600;
}

/* SEARCH BAR STYLES */

.input-append {
  text-align: center;
  input[type="submit"] {
    @include submit-button($appleGreen);
  }
}

input#search {
  width: 400px;
  height: 30px;
  font-size: 1em;
}

select#category {
  height: 30px;
  width: 200px;
  padding-left: 10px;
  background-color: $navyBlue;
  color: white;
  border: none;
  font-size: 0.8em;
}

/* ABOUT STYLES */

.about-article {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 400px;
  margin-left: 50px;
  margin-bottom: 50px;
  h2 {
    margin: 20px 0;
    font-size: 2em;
  }
  &:last-child {
    margin-left: 50px;
  }
}

/* ITEMS PREVIEW AND DETAILS STYLES */

div.item-articles {
  background-color: white;
  position: relative;
}

article.item-preview {
  background-color: white;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid black;
  clear: both;
  width: 850px;
  height: 220px;
  margin: 20px auto;
  div.item-thumb {
    height: 180px;
    width: 180px;
    margin: 20px 80px 0;
    background-color: $smokeGrey;
    -webkit-border-radius: 180px;
    border-radius: 180px;
    float: left;
  }
  .details {
    margin: 20px;
    float: left;
    display: block;
    h2, h3 {
      text-align: left;
      margin-top: 40px;
    }
    h2 {
      font-size: 1.6em;
    }
    h3 {
      font-style: italic;
    }
  }
}

article.item-details {
  width: 600px; 
  margin: 0 auto;
  padding: 80px 30px 30px 30px;
  div.image {
    width: 256px;
    height: 256px;
    background-color: $smokeGrey;
    margin: 30px auto;
    -webkit-border-radius: 256px;
    border-radius: 256px;
  }
  span {
    color: $appleGreen;
    letter-spacing: 0em;
  }
  h1 {
    margin: 10px 0 30px;
    font-size: 2.5em;
    line-height: 1em;
  }
  h2 {
    display: block;
    float: right;
    padding-right: 40px;
    padding-top: 10px;
    font-size: 2em;

  }
  h3 {
    text-align: left;
    padding-left: 40px;
  }
  h4 {
    text-align: left;
    padding-left: 40px;
  }
  p {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  ul {
    float: right;
    li {
      display: inline-block;
      float: left;
      margin-left: 10px;
    }
  }
}

div.pagination {
  text-align: center;
  background-color: $charcoalGrey;
  padding: 10px;
  color: white;
  a {
    color: $appleGreen;
  }
  span, em, a {
    margin: 0 5px 0 0;
  }
}

/* FORM ERROR STYLES */

form {
  text-align: center;
  input, textarea {
    width: 300px;
    font-size: 0.8em;
  }
  input {
    height: 30px;
  }
  textarea {
    height: 200px;
  }
  input[name="commit"] {
    @include submit-button($appleGreen);
  }
  .field {
    margin-bottom: 20px;
  }
}

.alert-error {
  color: red;
  font-size: 0.9em;
  margin-bottom: 20px;
  li {
    margin: 0;
  }
}

/* FOOTER STYLES */

footer {
  text-align: center;
  background-color: $charcoalGrey;
  color: $lightestGrey;
}

.debug_dump {
  margin: 30px auto;
  width: 960px;
  font-size: 1em;
  padding: 10px;
  font-family: monospace;
  background-color: #eee;
  font-size: 1.2em;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.push {
  height: 100px;
}

/* MISC */

.field_with_errors {
  display: inline;
}
