body {
  width: 960px;
  margin: 0 auto;
}

.debug_dump {
  margin: 50px auto;
}

footer {
  text-align: center;
  margin-top: 40px;
  background-color: #eee;
}

header img {
  padding-left: 10px;
  padding-top: 20px;
  position: relative;
}

nav ul li {
}


