<footer class="group">
  <p>Joshua Newman | s2892398 </p>
  <%= link_to "Assignment 1 Documentation", "A1_doc.txt", target: "_blank" %><br>
  <%= link_to "Assignment 2 Documentation", "A2_doc.txt", target: "_blank" %>
</footer>